<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSaveRecipe(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid"> {{ allowEdit ? 'Update' : 'Save' }} </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input ngModel type="text" name="name" id="name" [ngModel]="name" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Path</label>
            <input ngModel type="text" name="imagePath" class="form-control" [ngModel]="imagePath" required #imagepath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagepath.value" style="max-height: 200px" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea ngModel rows="3" name="description" [ngModel]="description" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row" *ngFor="let ingredient of ingredients; let i = index" style="margin-top: 10px">
            <div class="col-xs-8">
              <input [(ngModel)]="ingredient.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" required>
            </div>
            <div class="col-xs-2">
              <input [(ngModel)]="ingredient.amount" type="number" [ngModelOptions]="{standalone: true}" class="form-control" pattern="^[1-9]+[0-9]*$"
                required>
            </div>
            <div class="col-xs-2">
              <button name="delete" (click)="onDeleteIngredient(i)" class="btn btn-danger">
                X
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" (click)="onAddIngredient()" class="btn btn-success">
            Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
</div>